-- Example data.sql file to inject some initial data into the database instead of having to add each game through the bot.
--
-- This example file adds arcade games to the database, but games are generic so almost every type of game can be added.


-- Games
INSERT INTO games (name)
VALUES ('Pac Man'),
       ('Bubble Bobble'),
       ('Donkey Kong')
ON CONFLICT DO NOTHING;

-- Game styles
INSERT INTO game_styles(game_id, background_color, header_image, background_image, font_color)
VALUES
    -- Pac Man
    (1,
     'orange',
     'header-img-url',
     'background-img-url',
     'orange'),
    -- Bubble Bobble
    (2,
     'cyan',
     'header-img-url',
     'background-img-url',
     'blue'),
    -- Donkey Kong
    (3,
     'black',
     'header-img-url',
     'background-img-url',
     'pink')
ON CONFLICT DO NOTHING;
